<div class="row">
    <div class="col-xs-12">
      <img
        [src]="imgUrl"
        alt="{{ user.name }}"
        class="img-fluid"
        style="max-height: 300px;">
    </div>
  </div>
<div class="row">
    <div class="col-xs-12">
        <h2>{{ user.name }}</h2>
    </div>
</div>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-row align-items-center">
      <div class="col-auto">
        <label class="sr-only" for="inlineFormInput">Name</label>
        <input type="text" class="form-control mb-2" id="inlineFormInput" 
        placeholder="Send your message" ngModel required name="message">
      </div>
      <div class="col-auto">
        <button type="submit" [disabled]="!f.valid" class="btn btn-outline-success mb-2">
            Send <fa-icon [icon]="faPaperPlane" [style.color]="'green'"></fa-icon>
        </button>
      </div>
    </div>
  </form>

<div class="row">
    <div class="col-xs-12">
        Contact: +91-{{ user.contact }} & {{ user.email }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{user.bio }}
    </div>
</div>
<hr>
<!-- <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient.name }} - {{ ingredient.amount }}
        </li>
      </ul>
    </div>
</div> -->